name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-west-2
  ECR_REPOSITORY: devops-test-app
  ECS_SERVICE: devops-test-service
  ECS_CLUSTER: devops-test-cluster
  CONTAINER_NAME: app
  IMAGE_NAME: devops-test-app

jobs:
  # Check linter
  linter:
    runs-on: devops-runner
    steps:
      - uses: actions/checkout@v4

      - name: Run pylint
        run: |
          pylint --fail-under=8.0 $(find . -name "*.py" -type f | grep -v __pycache__ | grep -v .venv) \
            --output-format=text > pylint-report.txt || true

      - name: Upload pylint reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: linter-reports
          path: |
            pylint-report.txt
          retention-days: 7

  # Unit test
  test:
    needs: linter
    runs-on: devops-runner

    steps:
      - name: Run unit test with Docker
        run: |
          docker compose run --rm app poetry run pytest -s --cov=. --cov-report=xml

      - name: Upload coverage reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: unittest-coverage-reports
          path: coverage.xml
          retention-days: 7

  # Build image
  build:
    needs: test
    runs-on: devops-runner
    permissions:
      id-token: write
      contents: read
    outputs:
      image-tag: ${{ steps.version.outputs.tag }}

    steps:
      - name: Read VERSION file
        id: version
        run: |
          VERSION=$(cat VERSION)
          echo "tag=$VERSION" >> $GITHUB_OUTPUT

      - name: Build image
        env:
          IMAGE_TAG: ${{ steps.version.outputs.tag }}
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:$IMAGE_TAG .
          echo "image-tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "registry=$ECR_REGISTRY" >> $GITHUB_OUTPUT

  # Vulnerability Scan
  scan-image:
    needs: build
    runs-on: devops-runner
    steps:
      - name: Run Trivy scan
        env:
          IMAGE_TAG: ${{ needs.build.outputs.image-tag }}
        run: |
          trivy image --format table ${{ env.IMAGE_NAME }}:$IMAGE_TAG > trivy-report.txt

      - name: Upload Trivy scan reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: vulnerability-reports
          path: |
            trivy-report.txt
          retention-days: 7

  # Push Docker image to Amazon ECR
  push-ecr:
    needs: [build, scan-image]
    runs-on: devops-runner
    permissions:
      id-token: write
      contents: read
    outputs:
        registry: ${{ steps.login-ecr.outputs.registry }}

    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Push image to ECR
        env:
          ECR_REGISTRY:  ${{ steps.login-ecr.outputs.registry}}
          IMAGE_TAG: ${{ needs.build.outputs.image-tag }}
        run: |
          docker image tag ${{ env.IMAGE_NAME }}:$IMAGE_TAG $ECR_REGISTRY/${{ env.IMAGE_NAME }}:$IMAGE_TAG
          docker push $ECR_REGISTRY/${{ env.IMAGE_NAME }}:$IMAGE_TAG
          echo "registry=$ECR_REGISTRY" >> $GITHUB_OUTPUT

  deploy:
    needs: [build, push-ecr]
    runs-on: devops-runner
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          audience: sts.amazonaws.com

      - name: Terraform Init
        working-directory: ./terraform/dev
        run: terraform init

      - name: Terraform Plan
        working-directory: ./terraform/dev
        env:
          TF_VAR_container_image: ${{ needs.push-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.image-tag }}
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: ./terraform/dev
        env:
          TF_VAR_container_image: ${{ needs.push-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ needs.build.outputs.image-tag }}
        run: terraform apply -auto-approve tfplan